.root {
    display: grid;
    gap: 0.9375rem;
    justify-items: stretch;
}

.buttonContainer {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin-top: 1rem;
    text-align: center;
}

.buttonContainer button {
    background: #2b2b2b;
    color: white;
    text-transform: none;
    border: #2b2b2b;
    border-radius: 0;
    padding: 10px 15px;
}

.buttonContainer button:focus {
    box-shadow: none;
}
