.root {
    align-items: center;
    display: grid;
    /* The full height of the site header minus (box shadow height * 2). */
    height: calc(5rem - 8px);
}

.root_open {
    composes: root;
}
[data-cy='AccountChip-text'] {
    display: none;
}

@media (max-width: 640px) {
    .root {
        display: none;
    }
}
