.root {
    border-top: 2px solid rgb(var(--venia-global-color-gray-100));
    color: rgb(var(--venia-global-color-gray-700));
    display: grid;
    font-size: var(--venia-typography-body-S-fontSize);
    grid-template-areas:
        'links'
        'brand';
    grid-template-columns: 100%;
    line-height: var(--venia-global-lineHeight-300);
    min-height: 15rem;
    row-gap: 4rem;
    width: 100%;
    background: #2b2b2b;
}

.brandingContainer {
    background: #1c1c1c;
}
@media (max-width: 960px) {
    .root {
        grid-template-areas: 'links' 'brand';
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .root .links {
        display: grid;
    }

    .links .callout {
        max-width: none;
    }
}

.callout {
    max-width: calc(100% / 4);
    margin-bottom: 10px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem 0;
    margin: 0 auto;
    max-width: var(--venia-global-maxWidth);
    color: white;
}

@media (max-width: 960px) {
    .links {
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
}

.linkGroup {
    align-content: start;
    display: grid;
    gap: 0.5em;
    margin-top: 10px;
}

.linkItem:first-child {
    color: rgb(var(--venia-global-color-gray-900));
    font-weight: 600;
}

.callout {
    font-size: var(--venia-typography-body-S-fontSize);
    justify-self: center;
    line-height: var(--venia-global-lineHeight-300);
    max-width: 15rem;
    min-width: 15rem;
}

@media (max-width: 960px) {
    .callout {
        justify-self: start;
    }
}

.calloutHeading {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.calloutBody {
    margin: 1rem 0;
}

.socialLinks {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: start;
}

.branding {
    align-items: center;
    display: grid;
    grid-area: brand;
    grid-auto-flow: column;
    grid-template-areas: 'a b c';
    grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
    height: 4rem;
    justify-self: center;
    padding: 0 1.5rem;
    width: 100%;
    margin: 0 auto;
    max-width: var(--venia-global-maxWidth);
}

@media (max-width: 960px) {
    .branding {
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas: 'c' 'b' 'a';
        grid-template-columns: auto;
        height: auto;
        justify-items: center;
        padding: 2.5rem 2rem 4rem;
        text-align: center;
    }
}

.legal {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-area: c;
    grid-auto-flow: column;
    justify-content: end;
}

@media (max-width: 960px) {
    .legal {
        justify-content: center;
    }
}

.copyright {
    grid-area: b;
    text-align: center;
    color: white;
}

.logoContainer {
    grid-area: a;
}

.logo {
    height: var(--height);
    width: var(--width);
}

@media (max-width: 960px) {
    .logoContainer {
        margin-top: 2.5rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .callout {
        min-width: 10rem;
    }
}
@media screen and (max-width: 767px) {
    .links {
        padding: 0 1rem;
        grid-template-columns: 1fr 1fr;
        gap: 2rem 10px;
    }
    .callout {
        min-width: 100%;
    }

    .root {
        padding-top: 2rem;
    }
}

.socialIconsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.socialIcon {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.socialIcon img {
    padding: 5px;
}

.paymentIconsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.paymentIcon img {
    width: 80px;
    height: 30px;
}
