.root {
    display: grid;
    gap: 0.9375rem;
    justify-items: stretch;
    padding: 1rem 1.5rem;
}

.title {
    padding-top: 0.5rem;
    text-transform: capitalize;
}

.instructions {
    font-weight: 300;
    line-height: 1.25rem;
}

.root input {
    border: 1px solid #e8e8e8;
    border-radius: 0;
}

.root input:focus {
    box-shadow: none;
}
